{% extends "base.html" %}
{% block content %}

<section class="hero">
    <h1>Smart Agriculture Using Machine Learning</h1>
    <p>
        Predict the best crop and analyze soil health using data-driven AI models
        to improve productivity and sustainability.
    </p>
    <button onclick="location.href='/crop'">Start Prediction</button>
</section>

<section class="section">
    <div class="stats">
        <div class="stat-box">
            <h2>99.95%</h2>
            <p>Model Accuracy for Soil</p>
        </div>
        <div class="stat-box">
            <h2>99.31%</h2>
            <p>Model Accuracy for crop</p>
        </div>
        <div class="stat-box">
            <h2>10,000+</h2>
            <p>Training Records</p>
        </div>
        <div class="stat-box">
            <h2>6+</h2>
            <p>Soil/Crop Parameters</p>
        </div>
    </div>
</section>

<section class="section">
    <h2 class="section-title">Prediction Modules</h2>
    <div class="card-container">
        <a href="/crop" class="card">
            <img src="{{ url_for('static', filename='images/crop_img.jpg') }}">
            <h3>Crop Prediction</h3>
            <p>Predict suitable crops based on soil & climate.</p>
        </a>

        <a href="/soil" class="card">
            <img src="{{ url_for('static', filename='images/soil.jpg') }}">
            <h3>Soil Analysis</h3>
            <p>Analyze soil nutrients for better yield.</p>
        </a>
    

<a href="/plant_disease" class="card">
    <img src="{{ url_for('static', filename='images/plant_disease.jpg') }}">
    <h3>Plant Disease Detection</h3>
    <p>Detect plant leaf diseases using image or camera.</p>
</a>

</div>
</section>

<section class="section">
    <h2 class="section-title">How It Works</h2>
    <div class="steps">
        <div class="step">📥 Enter Parameters</div>
        <div class="step">🧠 ML Model Processing</div>
        <div class="step">📊 Prediction Output</div>
        <div class="step">🌾 Smart Decision</div>
    </div>
</section>

{% endblock %}
